@model IEnumerable<APP_PELIS.Models.Plataforma>

@{
    ViewData["Title"] = "Index";
}

<h1>Plataforma</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear plataforma nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <img src="@item.LogoUrl" height="50" width="50"/> 
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
