@model IEnumerable<APP_PELIS.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear pelicula nueva</a>
</p>


<link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.bootstrap5.css" />

<table class="table" id="tablaPeliculas">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.PosterUrl" height="50px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma.Nombre)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function() {
            $('#tablaPeliculas').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.6/i18n/es-ES.json'
                },
                columnDefs: [
                    { orderable: false, targets: [0, 4] } // Deshabilitar ordenamiento en columnas Imagen y Acciones
                ],
                pageLength: 5,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Todos"]],
                order: [[1, 'asc']] // Ordenar por Título por defecto
            });
        });
    </script>
}
