@model IEnumerable<APP_PELIS.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1>Generos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear genero nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
